.Form {
  gap: 16px;
  display: flex;
  flex-direction: column;


  footer {
    gap: 16px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    padding: 16px 0 24px 0;
  }
}